---
import { Scanner } from "../components/Scanner";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Scan a QR Code or Barcode">
  <main class="flex flex-col justify-center mx-8 pt-8">
    <Scanner client:load />
  </main>
</Layout>
