---
export interface Props {
  text: string;
  url: string;
}

const { text, url } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const isActive = pathname.replace("/", "") === url;

const activeClasses = "bg-emerald-100 font-bold";
---

<a
  class={`inline-block py-4 rounded-full w-1/3 text-center ${
    isActive && activeClasses
  }`}
  href={url}
>
  {text}
</a>
