---
export interface Props {
  text: string;
  url: string;
}

const { text, url } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const isActive = pathname.replaceAll("/", "") === url.replaceAll("/", "");

const activeClasses = "bg-emerald-100 border-4 border-emerald-100 font-bold";
---

<a
  class={`inline-block mx-4 py-2 rounded-full w-1/3 text-center ${
    isActive && activeClasses
  } ${
    !isActive &&
    "transition-all hover:border-4 border-emerald-100 active:scale-95"
  }`}
  href={url}
>
  {text}
</a>
